/* 지혜 */
/*[지혜수정_0627]*/
#wrap{
  width: 100%;
  height: auto;
}
#main_wrap{
  width: 100%;
  /* 지현: 반응형 작업 */
  height: 100vh;
  /* height: 970px; */
  background-size: cover;
  background-color: #2209e3;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
#main{
  width: 1920px;
  /* 지현: 반응형 작업 */
  height: 100%;
  margin: 0px auto;
  position: relative;
  top: 0px;
  left: 0px;
}
#logo_box{
  width: 100%;
  height: 350px;
  position: absolute;
  top:50%;
  margin-top: -175px;
  left: 0px;
}
#main_logo{
  width: 300px;
  height: 284px;
  position: absolute;
  top:28px;
  left: 50%;
  margin-left: -150px;
}
#main_logo img{
  width: 100%;
}
/* 지현 */
div#logo_svg_wrap {
  width: 362px;
  height: 350px; 
  position: absolute;
  left: 50%;
  margin-left: -181px;
  top: 0px;
}

.svg_logo {
  /* stroke-dasharray: 980; */
  stroke-dasharray: 1700;
  /* stroke-dashoffset: 720; */
  stroke: #42ff00;
  stroke-width: 1px;
  display:none;
}

.svg_logo.animation {
  animation: svg_logo_ani 1.2s ease-out forwards;
}

@keyframes svg_logo_ani {
  0%{
    stroke-dashoffset: 1700;      
  }
  40%{
    stroke-dashoffset: 720;
  }
  60%{
    stroke-dashoffset: 720;
  }
  100%{
    stroke-dashoffset: 0;
  }
}


/* 지혜 */
div#title {
      width: 1050px;
      height: 76px;
      font: bold 76px/76px 'Sainte Colombe';
      color: white;
      position: absolute;
      top: 50%;
      margin-top: -38px;
      left: 50%;
      margin-left: -525px;
      display: block;
    }

    div#title>span {
      margin-right: 25px;
      display: block;
      float: left;
      text-align: center;
    }
    div#title>span:last-child{
      margin-right: 0px;
    }
    span#marineserre_M{
      width: 97.5px;
      position: absolute;
      top: 0px;
      left: 0px;
    }
    span#marineserre_A{
      width: 76.31px;
      position: absolute;
      top: 0px;
      left: 122.5px;
    }
    span#marineserre_R{
      width: 66.62px;
      position: absolute;
      top: 0px;
      left: 223.81px;
    }
    span#marineserre_I{
      width: 33.61px;
      position: absolute;
      top: 0px;
      left: 315.43px;
    }
    span#marineserre_N{
      width: 78.42px;
      position: absolute;
      top: 0px;
      left: 374.04px;
    }
    span#marineserre_E{
      width: 58.49px;
      position: absolute;
      top: 0px;
      left: 477.46px;
    }
    span#br{
      width: 57px;
      position: absolute;
      top: 0px;
      left: 560.95px;
    }
    span#marineserre_S{
      width: 50.2px;
      position: absolute;
      top: 0px;
      left: 642.95px;
    }
    span#marineserre_E2{
      width: 58.49px;
      position: absolute;
      top: 0px;
      left: 718.15px;
    }
    span#marineserre_R2{
      width: 66.62px;
      position: absolute;
      top: 0px;
      left: 801.64px;
    }
    span#marineserre_R3{
      width: 66.62px;
      position: absolute;
      top: 0px;
      left: 893.26px;
    }
    span#marineserre_E3{
      width: 58.49px;
      position: absolute;
      top: 0px;
      left: 984.88px;
    }

    div#changeTitle {
      font: bold 76px/76px 'Sainte Colombe';
      font: bold 76px/76px 'Sainte Colombe';
      color: white;
      display: none;
      position: absolute;
      top: 0px;
      left: 0px;
    }
    div#changeTitle_test{
      font: bold 76px/76px 'Sainte Colombe';
      color: white;
      opacity: 0.5;
      position: absolute;
      top: 140px;
      left: 450px;
    }
    div#changeTitle>span {
      margin-right: 25px;
      float: left;
      text-align: center;
    }
    span#regenerated_R{
      width: 66.62px;
      position: absolute;
      top: 0px;
      left: 0px;
      display: none;
    }
    span#regenerated_E{
      width: 58.49px;
      position: absolute;
      top: 0px;
      left: 0px;
      display: none;
    }
    span#regenerated_G{
      width: 64px;
      position: absolute;
      top: 0px;
      left: 0px;
    }
    span#regenerated_E2{
      width: 58.49px;
      position: absolute;
      top: 0px;
      left: 0px;
    }
    span#regenerated_N{
      width: 78.42px;
      position: absolute;
      top: 0px;
      left: 0px;
      display: none;
    }
    span#regenerated_E3{
      width: 58.49px;
      position: absolute;
      top: 0px;
      left: 0px;
      display: none;
    }
    span#regenerated_R2{
      width: 66.62px;
      position: absolute;
      top: 0px;
      left: 0px;
      display: none;
    }
    span#regenerated_A{
      width: 62px;
      position: absolute;
      top: 0px;
      left: 0px;
      display: none;
    }
    span#regenerated_T{
      width: 53px;
      position: absolute;
      top: 0px;
      left: 0px;
    }
    span#regenerated_E4{
      width: 58.49px;
      position: absolute;
      top: 0px;
      left: 0px;
      display: none;
    }
    span#regenerated_D{
      width: 64px;
      position: absolute;
      top: 0px;
      left: 0px;
    }

    div#scroll_box{
      width: 123px;
      height: 97px;
      position: absolute;
      bottom: 68px;
      left: 50%;
      margin-left: -61.5px;
    }
    p.scroll_down_text{
      width: 123px;
      height: 25px;
      font: bold 20px/25px 'Sainte Colombe';
      color: white;
      position: absolute;
      top: 40px;
      text-align: center;
      opacity: 0;
    }
    #scroll_box .scroll_bar {
      width: 1px;
      /* height: 70px; */
      height: 0px;
      background-color: white;
      position: absolute;
      top: -50px;
      left: 50%;
    }

    
