/* 하정 */
/* 0627 css 합침 */
/* 0626 전체 간격 조절 */
div#sub_lines_wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  left: 0px;
  top: 0px;
  /* background:green */
  overflow: hidden;
}

section#sub_lines {
  min-width: 1920px;
  height: 100%;
  margin: 0 auto;
}

/* 0626 간격 조절 */
div#sub_lines_main_wrap{
  /* width: 3300px; */
  width: 100%;
  height: 198px;
  position: relative;
  left: 0px;
  top: 50%;
  margin-top: -99px;
  /* overflow: hidden; */
  /* background: red; */
}


/* 지현 새로운 마크업 */
div.sub_line_marquee {
  width: 7000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
ul.sub_line_lists {
  width: 3500px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  /* background: blue;
  white-space: nowrap;
  overflow: hidden; */
  animation: sub_line_ani 14s linear infinite;
}
@keyframes sub_line_ani{
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

div.sub_line_marquee:hover .sub_line_lists{
  animation-play-state: paused;
  cursor: pointer;
}
ul.sub_line_lists a {
  font: bold 150px "Sainte Colombe"; 
  color: black; 
  transition: color 0.1s ease-out;
}
ul.sub_line_lists > li:hover a{
  color: #2209e3;
}


/* 

하정 이전 마크업
div.marquee{
  display: block;
  width: 200%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -94px;
  overflow: hidden;
  animation: sub_line 25s linear infinite;
}

div.marquee>span {
  float: left;
  width: 50%;
  font: bold 150px "Sainte Colombe";
}

div.marquee>span>a{
  margin-right: 125px;
}

div.marquee:hover{
  animation-play-state: paused;
  cursor: pointer;
}

div.marquee>span>a:hover{
  color: #2209e3;
}


@keyframes sub_line{
  0%{
      left: 0%;
  }

  100% {
    left: -100%;
  }
} */



/* 하정 */
div#sub_detail_line_wrap {
  min-width: 1920px;
  height: 100vh;
  position: relative;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

div#sub_detail_line_cont_text {
  width: 450px;
  height: 200px;
  position: absolute;
  left: 240px;
  top: 393px;
}

div#sub_detail_line_cont_text>p#title {
  font: bold 80px "Sainte Colombe";
}

div#sub_detail_line_cont_text>p#contents {
  font: bold 24px "Sainte Colombe";
}

section#sub_detail_line_cont_pic_left {
  width: 400px;
  height: 100%;
  position: absolute;
  right: 695px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  animation: subline_img_left 20s linear infinite;
}
section#sub_detail_line_cont_pic_left>p {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  margin-bottom: 44px;
}

section#sub_detail_line_cont_pic_left>p>img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}

@keyframes subline_img_left {
  0% {
    top: 0%
  }

  100% {
    top: -100%
  }
}

section#sub_detail_line_cont_pic_left:hover {
  animation-play-state: paused;
}

section#sub_detail_line_cont_pic_right {
  width: 400px;
  height: 100%;
  position: absolute;
  right: 250px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  animation: subline_img_right 20s linear infinite;
  
}
section#sub_detail_line_cont_pic_right>p {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  margin-bottom: 44px;
}

section#sub_detail_line_cont_pic_right>p>img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}


@keyframes subline_img_right {
  0% {
    top: -100%;
  }

  100% {
    top: 0%;
  }
}

section#sub_detail_line_cont_pic_right:hover {
  animation-play-state: paused;
}

/* div#sub_detail_line_cont_pic>img:nth-child(1){
  position: absolute;
  left: 0px;
  top: -340px;
}

div#sub_detail_line_cont_pic>img:nth-child(2){ 
  position: absolute;   
  left: 0px;
  top: 204px;
}

div#sub_detail_line_cont_pic>img:nth-child(3){ 
  position: absolute;   
  left: 0px;
  top: 748px;
}

div#sub_detail_line_cont_pic>img:nth-child(4){ 
  position: absolute;   
  right: 0px;
  top: 10px;
}

div#sub_detail_line_cont_pic>img:nth-child(5){ 
  position: absolute;   
  right: 0px;
  top: 554px;
} */

div#grayLayer{          
  height:100%; width:100%; position:absolute; left:0; top:0;      
  background:black; opacity:0;
}  
div#overLayer{      
  width:800px; height:800px; position:absolute; top:50%; left:50%;  margin-top:-400px; margin-left:-400px; 
  display:none; 
}
div#overLayer>img{
  width: 800px;
  height: 800px;
  object-fit: cover;
}

button.prev_btn{
  background: none;
  border: none;
  position: absolute;
  left: 240px;
  top: 663px;
  /* 지현 추가 */
  cursor: pointer;
  filter: invert(76%) sepia(0%) saturate(0%) hue-rotate(346deg) brightness(99%) contrast(91%);
  transition: all 0.2s ease-out;
}

/* 지현 추가 */
button.prev_btn:hover {
  filter: none;
}

